# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Env files
.env
.env.local
server/.env
client/.env

# Build output
client/dist/
server/dist/

# Logs
npm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
